## Week 3

In [3]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/hw/1122學習分析工具實務應用/LATIA112-2/")
!ls -al

Mounted at /content/gdrive/
total 45
-rw------- 1 root root 37077 Mar  5 06:40 LATIA112-2.ipynb
drwx------ 2 root root  4096 Feb 27 06:37 week2
drwx------ 2 root root  4096 Mar  5 06:00 week3

In [43]:
import pandas as pd

csv_file = './week2/112_student.csv'

#columns = [
#    "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
#    "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
#    "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
#    "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
#]
df = pd.read_csv(csv_file)
print(df.head())

#查看資料欄位資訊
print(df.info())

#查看資料的統計學資訊描述
#print(df.describe(include='all'))


# 新增公私立欄位
type_list = [] # 建立空字串

for i in df['學校名稱']:
    if ('國立' in i) or ('市立' in i):
        type_list.append('公立')
    else:
        type_list.append('私立')

df['公私立'] = type_list # 將 Dataframe 新增「公私立」column


# 新增區域欄位
type_list = [] # 建立空字串

for i in df['縣市名稱']:
    if ('北' in i) or ('新' in i) or ('基隆' in i) or ('桃園' in i) or ('宜蘭' in i):
        type_list.append('北部')
    elif ('中' in i) or ('苗栗' in i) or ('彰化' in i) or ('南投' in i) or ('雲林' in i):
        type_list.append('中部')
    elif ('高雄' in i) or ('臺南' in i) or ('嘉義' in i) or ('屏東' in i) or ('澎湖' in i):
        type_list.append('南部')
    elif ('花蓮' in i) or ('臺東' in i):
        type_list.append('東部')
    else:
        type_list.append('福建')

df['區域'] = type_list

df

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77
3  112     1  國立政治大學    D 日  B 學士  9763  3928  5835   906  1349  ...     0
4  112     2  國立清華大學    D 日  D 博士  1636  1131   505   206    93  ...   140

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般
3     0     0     0     0     0   316   499  30 臺北市  1 一般
4    60   110    50   115    56     0     0  18 新竹市  1 一般

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None

,學年度,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男,一年級女,...,六年級男,六年級女,七年級男,七年級女,延修生男,延修生女,縣市名稱,體系別,公私立,區域
0,112,1,國立政治大學,D 日,D 博士,921,517,404,86,69,...,68,37,66,50,0,0,30 臺北市,1 一般,公立,北部
1,112,1,國立政治大學,D 日,M 碩士,4231,1835,2396,598,809,...,1,0,0,0,0,0,30 臺北市,1 一般,公立,北部
2,112,1,國立政治大學,N 職,M 碩士,1903,938,965,262,304,...,0,0,0,0,0,0,30 臺北市,1 一般,公立,北部
3,112,1,國立政治大學,D 日,B 學士,9763,3928,5835,906,1349,...,0,0,0,0,316,499,30 臺北市,1 一般,公立,北部
4,112,2,國立清華大學,D 日,D 博士,1636,1131,505,206,93,...,110,50,115,56,0,0,18 新竹市,1 一般,公立,北部
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,112,1293,崇仁醫護管理專科學校,D 日,5 五專,3017,460,2557,112,515,...,0,0,0,0,19,45,10 嘉義縣,2 技職,私立,南部
760,112,3002,臺北市立大學,D 日,D 博士,208,94,114,17,11,...,6,9,16,25,0,0,30 臺北市,1 一般,公立,北部
761,112,3002,臺北市立大學,D 日,M 碩士,1330,413,917,137,265,...,15,43,0,1,0,0,30 臺北市,1 一般,公立,北部
762,112,3002,臺北市立大學,N 職,M 碩士,1248,341,907,114,274,...,17,50,0,0,0,0,30 臺北市,1 一般,公立,北部
763,112,3002,臺北市立大學,D 日,B 學士,5275,2287,2988,535,759,...,0,0,0,0,172,154,30 臺北市,1 一般,公立,北部

# 1.哪間大專院校有最多的學士生

step1: 取出想要查看的欄位，並印出此資料集共有多少筆紀錄 (len)

step2: 篩選等級別為"B 學士"的DataFrame，並印出有招生學士學制的學校數量

step3: 依據"總計"從大到小排序並印出結果 (sort_values, by, ascending)

In [16]:
# 請在"填空"處，輸入所需要的指令或參數

df1 = df[['等級別','總計','學校名稱']] # 取出想要觀看的欄位
print("本資料集共有", len(df1), "筆紀錄")

df1_1 = df1[df1['等級別'] == 'B 學士']
print("有招生學士學制的學校數量為", len(df1_1), "\n")
df1_1_sorted = df1_1.sort_values("總計", ascending=False)
print("112學年度在籍的學士生最多人數之學校為", df1_1_sorted.head(1)["學校名稱"].values[0])

本資料集共有 764 筆紀錄
有招生學士學制的學校數量為 97

112學年度在籍的學士生最多人數之學校為 淡江大學

# 2. 公立？所；私立？所

step1: 建立空字串 (lsit=[])

step2: 建立for迴圈，配合if else條件，取出國立與私立

step3: 新增「公私立」column在DataFrame中 (df['公私立'])

step4: 篩選掉重複的學校代碼資料 (drop_duplicates)

step5: 計算公立與私立學校的筆數，並印出結果 (value_counts)

In [24]:
df2 = df.drop_duplicates(subset=['學校代碼'])
count = df2['公私立'].value_counts()

# print(df2)
print(f"本資料集共收集了 {len(df2)} 所學校，其中公立：{count['公立']} 所；私立：{count['私立']} 所。")

本資料集共收集了 145 所學校，其中公立：47 所；私立：98 所。

# 3. 各等級別學制共有？所

step1: 篩選掉重複的學校名稱與等級別 (drop_duplicates, subset)

step2: 計算出等級別的筆數 (value_counts)

step3: 建立等級別的字串，並找出其類別 (unique)

step4: 使用for迴圈，依序列出所有等級別學制的學校數量 (count)

In [30]:
df3 = df.drop_duplicates(subset=['學校名稱','等級別'])
count = df3['等級別'].value_counts()
degree_list = list(df['等級別'].drop_duplicates())

# print(df3)
# print(count)
# print(degree_list)

print(f"本資料集總共收集了 {len(set(df['學校代碼']))} 所學校，各等級學制當中：")
for degree in degree_list:
    print(f"一共有{count[degree]} 所學校， 有招收{degree}。")

本資料集總共收集了 145 所學校，各等級學制當中：
一共有84 所學校， 有招收D 博士。
一共有130 所學校， 有招收M 碩士。
一共有67 所學校， 有招收B 學士。
一共有1 所學校， 有招收X 4+X。
一共有71 所學校， 有招收C 二技。
一共有66 所學校， 有招收B 四技。
一共有46 所學校， 有招收5 五專。
一共有2 所學校， 有招收5 七年。
一共有46 所學校， 有招收2 二專。
一共有1 所學校， 有招收C 二年制。

# 4. 各縣市分別有？所，位於新北市的大專院校總共有幾所

In [35]:
df4 = df.drop_duplicates(subset=['學校代碼'])
count = df4.value_counts("縣市名稱")
print(count,'\n')
print(f"新北市的大專院校有 {count['01 新北市']} 所")

縣市名稱
30 臺北市    24
01 新北市    20
03 桃園市    12
19 臺中市    11
11 臺南市     9
50 高雄市     8
12 高雄市     7
06 臺中市     6
18 新竹市     5
13 屏東縣     5
10 嘉義縣     4
15 花蓮縣     4
07 彰化縣     4
21 臺南市     4
09 雲林縣     3
02 宜蘭縣     3
17 基隆市     3
05 苗栗縣     3
14 臺東縣     2
08 南投縣     2
20 嘉義市     2
04 新竹縣     2
16 澎湖縣     1
71 金門縣     1
dtype: int64

新北市的大專院校有 20 所

# 5. 北中南東區分別有？所

都市及區域發展統計彙編 - 國發會 https://www.ndc.gov.tw/nc_77_4402

北部區域：包括臺北市、新北市、基隆市、新竹市、桃園市、新竹縣及宜蘭縣。

中部區域：包括臺中市、苗栗縣、彰化縣、南投縣及雲林縣。

南部區域：包括高雄市、臺南市、嘉義市、嘉義縣、屏東縣及澎湖縣。

東部區域：包括花蓮縣及臺東縣。

福建省：包括金門縣與連江縣。

In [38]:
df.drop_duplicates(subset=['學校代碼']).value_counts("區域")

區域
北部    69
南部    40
中部    29
東部     6
福建     1
dtype: int64

# 6. 各體系別分別有？所

In [41]:
df.drop_duplicates(subset=['學校代碼'])[["體系別"]].value_counts()

體系別
2 技職    78
1 一般    62
3 師範     5
dtype: int64

# 7. 國立/私立與男女比
請問國立大學與私立大學在學男生女生比例為何? 延修生男生女生比例為何?

In [51]:
dfo = df[df["公私立"] == "公立"]
dfp = df[df["公私立"] == "私立"]
print(f'公立大學性別比： {(dfo["男生計"].sum()/dfo["女生計"].sum()*100)}')
print(f'私立大學性別比： {(dfp["男生計"].sum()/dfp["女生計"].sum()*100)}')

公立大學性別比： 119.84351820835526
私立大學性別比： 84.47652171893417

# 8. 國立大學在學生男女比

 # 9. 每校平均最多與最少人的體系

# 10. 將新增的欄位寫入並儲存成新的CSV檔案，並命名為112_students_tf.csv

新增的欄位有"公私立"，"縣市名"，"區域"